@page "/Admin"
@using Coffeeapp.Data.Models
@inject NavigationManager NavigationManager
<h3>Admin</h3>
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="Onlogout">Logout</MudButton>


@code {

    [CascadingParameter]
    private GlobalState _globalState { get; set; }


    

    public void Onlogout()//on clicking logout button
    {
        _globalState.CurrentUser = null;
        NavigationManager.NavigateTo("/login");
    }

}
