@inject NavigationManager NavigationManager
@page "/Order"

<h3>coffeeOrder</h3>

<MudPaper Height="400px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        
    </MudContainer>
</MudPaper>


@code {

    
}
