@page "/Staff"
@using Coffeeapp.Data.Models
@inject NavigationManager NavigationManager

<h3>Staff</h3>



@code {

    [CascadingParameter]
    private GlobalState _globalState { get; set; }



    public void logout()
    {
        _globalState.CurrentUser = null;
        NavigationManager.NavigateTo("/login");
    }

}
